body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
    scroll-behavior: smooth;

}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: underline;
}

/* Create a Parallax Effect */
.bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url("../img/edit_dj_logo.png");
    background-color: black;
    min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url("../img/numark-ns6.jpg");
    min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url('../img/centralSanAntonioNight_copy.jpg');
    min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
        min-height: 400px;
    }
}

/* For Mobile */
@media screen and (max-width: 540px) {
    #about {
        margin-top: 15px;
    }
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
    #about {
        margin-top: 15px;
    }
}

@media screen and (min-width: 780px) {
    #about {
        margin-top: 230px;
    }
}